<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ludusludorum.com/wp-content/uploads/2016/10/Party-Sil.jpg);">
  <div class="container">
    <h1><%= @quest.name %></h1>
    <p><%= @quest.description %></p>
    <p><%= @quest.reward %> Gold</p>
  </div>
</div>
<div class="container">
  <h1>Choose a Hero to Add to Your Party</h1>
  <%= simple_form_for [@quest, @party] do |f| %>
    <%= f.association :character %>
    <%= f.submit "Add Character", class: "'btn btn-success mt-3'" %>
  <% end %>
</div>
