<!DOCTYPE html>
<html>
  <head>
    <title>RailsQuestBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/sikesc"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/sikesc"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Plan your quest today!
      </div>
    </div>
  </body>
</html>
